body {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at center, rgb(128, 183, 255) 0%, rgb(46, 123, 255) 100%);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 0;
    height: 92vh;
}

h1 {
    font-size: 75px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    padding-bottom: 50px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.australia {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.western_australia {
    position: absolute;
    top: 27px;
    left: -22px;
    width: 324px;
    height: 479px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.western_australia_label {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 60px;
    opacity: 0%;
}

.western_australia:hover .western_australia_label {
    opacity: 100%; 
}

.western_australia svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.western_australia:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.western_australia svg path:hover {
    fill: #e9da69;
    transition: fill 0.3s ease;
}

.northern_territory {
    position: absolute;
    top: -80px;
    left: 217px;
    width: 313px; 
    height: 430px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.northern_territory_label {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 45px;
    opacity: 0%;
}

.northern_territory:hover .northern_territory_label {
    opacity: 100%; 
}

.northern_territory svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.northern_territory:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.northern_territory svg path:hover {
    fill: #f1956e;
    transition: fill 0.3s ease;
}

.queensland {
    position: absolute;
    top: -68px;
    left: 404px;
    width: 390px; 
    height: 485px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.queensland_label {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 50px;
    opacity: 0%;
}

.queensland:hover .queensland_label {
    opacity: 100%; 
}

.queensland svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.queensland:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.queensland svg path:hover {
    fill: #89cc85;
    transition: fill 0.3s ease;
}

.victoria {
    position: absolute;
    top: 453px;
    left: 488px;
    width: 169px;
    height: 134px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.victoria_label {
    position: absolute;
    top: 28%;
    left: 45%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 35px;
    opacity: 0%;
}

.victoria:hover .victoria_label {
    opacity: 100%; 
}

.victoria svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.victoria:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.victoria svg path:hover {
    fill: #c0a0c9;
    transition: fill 0.3s ease;
}

.south_australia {
    position: absolute;
    top: 241px;
    left: 239px;
    width: 325px; 
    height: 353px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
    text-align: center;
}

.south_australia_label {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 40px;
    opacity: 0%;
}

.south_australia:hover .south_australia_label {
    opacity: 100%; 
}

.south_australia svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.south_australia:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.south_australia svg path:hover {
    fill: #66bcd5;
    transition: fill 0.3s ease;
}

.tasmania {
    position: absolute;
    top: 550px;
    left: 500px;
    width: 182px; 
    height: 176px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.tasmania_label {
    position: absolute;
    top: 24%;
    left: 42%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 30px;
    opacity: 0%;
}

.tasmania svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.tasmania:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.tasmania:hover .tasmania_label {
    opacity: 100%; 
}

.tasmania svg path:hover {
    fill: #6694c5;
    transition: fill 0.3s ease;
}

.new_south_wales {
    position: absolute;
    top: 346px;
    left: 454px;
    width: 295px;
    height: 209px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.new_south_wales_label {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    font-size: 40px;
    opacity: 0%;
}

.new_south_wales:hover .new_south_wales_label {
    opacity: 100%; 
}

.new_south_wales svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.new_south_wales:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.new_south_wales svg path:hover {
    fill: #f9c466;
    transition: fill 0.3s ease;
}

@media screen {
    @media (max-width: 800px) {
        h1 {
            font-size: 50px;
            margin-top: 40px;
        }
        h2 {
            font-size: 40px;
        }
        .australia {
            scale: .6;
            transform-origin: center;
            margin: auto;
        }
    }
}