body {
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    background: radial-gradient(circle at center, rgb(128, 183, 255) 0%, rgb(46, 123, 255) 100%);
    margin: 0;
    height: 100vh;
}

h1 {
    font-size: 75px;
    text-align: center;
    color: #000000;
    margin-top: 75px;
}

h2 {
    font-size: 50px;
    text-align: center;
    color: #000000;
}

.australia {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.western_australia {
    position: absolute;
    top: 27px;
    left: -22px;
    width: 324px;
    height: 479px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.western_australia svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.western_australia:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.western_australia svg path:hover {
    fill: #e9da69;
    transition: fill 0.3s ease;
}

.northern_territory {
    position: absolute;
    top: -80px;
    left: 217px;
    width: 313px; 
    height: 430px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.northern_territory svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.northern_territory:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.northern_territory svg path:hover {
    fill: #f1956e;
    transition: fill 0.3s ease;
}

.queensland {
    position: absolute;
    top: -68px;
    left: 404px;
    width: 390px; 
    height: 485px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.queensland svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.queensland:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.queensland svg path:hover {
    fill: #89cc85;
    transition: fill 0.3s ease;
}

.victoria {
    position: absolute;
    top: 453px;
    left: 488px;
    width: 169px;
    height: 134px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.victoria svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.victoria:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.victoria svg path:hover {
    fill: #c0a0c9;
    transition: fill 0.3s ease;
}

.south_australia {
    position: absolute;
    top: 241px;
    left: 239px;
    width: 325px; 
    height: 353px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.south_australia svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.south_australia:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.south_australia svg path:hover {
    fill: #66bcd5;
    transition: fill 0.3s ease;
}

.tasmania {
    position: absolute;
    top: 550px;
    left: 500px;
    width: 182px; 
    height: 176px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.tasmania svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.tasmania:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.tasmania svg path:hover {
    fill: #6694c5;
    transition: fill 0.3s ease;
}

.new_south_wales {
    position: absolute;
    top: 346px;
    left: 454px;
    width: 295px;
    height: 209px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease, fill 0.3s ease;
}

.new_south_wales svg path {
    fill: #D99830;
    stroke: #000000;
    stroke-width: 2px;
}

.new_south_wales:hover {
    transform: scale(1.05);
    z-index: 100;
    transition: transform 0.3s ease;
}

.new_south_wales svg path:hover {
    fill: #f9c466;
    transition: fill 0.3s ease;
}